{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h1>{{ question.subject }}</h1>
<div>
    {{ question.content }}
</div>

<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
    {% for answer in question.answer_set.all %}
        <li>{{ answer.subject }} | {{ answer.content }}</li>
    {% endfor %}
    </ul>
</div>

<form action="{% url 'board:answer_create' question_id=question.id %}" method="post">
{% csrf_token %}
<div>제목: <textarea name="subject" id="subject" rows="1"></textarea></div>
<div>내용: <textarea name="content" id="content" rows="5"></textarea></div>
<input type="submit" value="답변 등록">
</form>